.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 24px;
    margin: 8px 0px;
  
    position: static;
    width: 356px;
    border-radius: 20px;
  
    color: #1A1A1A;  
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  
    cursor: pointer;
  }
  
  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .yellow {
    background: #feba0c;
    border: none;
  }
  
  .white {
    background: white;
    border: 0.5px solid #CFD8DC;
  }
  